<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Hi{% endblock %}</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    {% block stylesheets %}
    <link rel="stylesheet" href="../assets/css/styles_2.css">{% endblock %}
</head>

<body {% block bodyStyling %}style="background-color: #2d3436;" {% endblock %}>

    <main class="container-fluid">

        {% block navigation %}
        <div class="container" style="padding-top: 20px;">
            <div class="row" style="padding-bottom: 20px;margin-left:-35px;margin-right:-40px;">
                <div class="col-4 col-md-3 order-1" style="padding-top: 6px;"><img src="../assets/img/logoSmall.png" height="55px" class="float-left" /></div>
                <div class="col-12 d-md-none order-3" style="height: 3vh;"></div>
                <div class="col-8 col-md-3 order-2 order-md-3" style="padding-left: 3%;">
                    <div class="row riddleStateCard" style="border-width: 2px;height: 70px;margin-right: 0;margin-left: 0px;padding-top: 5px;padding-bottom: 5px;border-color: rgb(30,30,30);">
                        <div class="col-5 col-md-12 col-lg-4">
                            <div class="dropdown d-table"><button class="btn btn-outline-link dropdown-toggle float-right thumbsHover" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: transparent;border-width: 2px;color: white;"><img src="../assets/profileImages/{{ profileImage.imagePath }}" width="40px" height="40px" class="rounded-circle" /></button>
                                <div
                                    role="menu" class="dropdown-menu roundBorder" style="background-color: #1c1f21;box-shadow: 0px 3px 10px rgba(0, 0, 0, .5);">
                                        {% if (profile.admin ) %}
                                            <a role="presentation" href="/admin" class="dropdown-item text-white thumbsHover roundBorder" style="background-color: #1c1f21;height: 50px;padding-top: 12px;"><i class="icon-user" style="margin-right:20px;"></i>Admin</a>
                                        {% endif %}
                                        <a role="presentation" href="/editprofile" class="dropdown-item text-white thumbsHover roundBorder" id="editDetails" style="background-color: #1c1f21;height: 50px;padding-top: 12px;"><i class="icon-pencil" style="margin-right:20px;"></i>Edit Details</a>
                                        <a role="presentation" href="/logout" class="dropdown-item thumbsHover roundBorder" style="background-color: #1c1f21;height: 50px;padding-top: 12px;color: #ff7675;"><i class="icon-logout" style="margin-right:20px;"></i>Log Out</a></div>
                        </div>
                    </div>
                    <div class="col-7 d-md-none d-lg-block" style="padding-right: 0;">
                        <p class="text-left text-light" style="font-family: Quicksand, sans-serif;font-weight: 700;font-size: 14px;margin-bottom: 0;margin-top: 2px;">Riddling Score</p>
                        <p class="text-left text-light" style="font-family: Quicksand, sans-serif;font-weight: 400;font-size: 22px;margin-top: -2px;">{% block riddlingScore %}{% endblock %}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 order-3 order-md-2" id="navRow" style="padding-top: 4px;">
                <div style="box-shadow: 0px 5px 80px rgba(50,50,50,1);height: 10px;margin-top: -15px;"></div>
                <div style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-4"><a href="/discover" class="text-white d-table mx-auto navItem thumbsHover discoverItem" style="font-size: 25px;background-color: #fab1a0;">{% block DiscoverNav %}<i class="la la-binoculars d-table mx-auto navIcon" style="font-size: 30px;color: #2d3436;"></i>{% endblock %}</a></div>
                        <div
                            class="col-4"><a href="/leaderboard" class="text-white d-table mx-auto navItem thumbsHover leaderboardItem" style="font-size: 25px;background-color: #74b9ff;">{% block LeaderboardNav %}<i class="la la-trophy d-table mx-auto" style="font-size: 30px;color: #2d3436;"></i>{% endblock %}</a></div>
                    <div class="col-4"><a href="/myriddles" class="text-white d-table mx-auto navItem thumbsHover myriddlesItem" style="font-size: 25px;background-color: #55efc4;">{% block MyRiddlesNav %}<i class="la la-user d-table mx-auto" style="font-size: 30px;color: #2d3436;"></i>{% endblock %}{% block Badge %}{% endblock %}</a></div>
                </div>
            </div>
        </div>
        </div>
        </div>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <footer style="margin-top: 50px;font-family: Roboto, sans-serif;font-size: 14px;">
                <div class="row" style="padding-top: 8px;">
                    <div class="col">
                        <p class="text-center text-white-50" style="margin: 0;">Monkey See Monkey Do © 2018</p>
                    </div>
                </div>
            </footer>
        {% endblock %}

    </main>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="../assets/js/collapse-handle-login.js"></script> 
    {% block javascripts %} {% endblock %}
         </body>

        </html>